<div class="text-color" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
  <div class="hand">
    <mat-icon (click)="designService.deleteControl(index)">close</mat-icon>
  </div>
  <mat-form-field>
    <mat-label>
      {{designService.canvasFormControls.details[index].label}}
    </mat-label>
    <input matInput [type]="designService.canvasFormControls.details[index].types" 
      [placeholder]="designService.canvasFormControls.details[index].placeholder"
      [required]="designService.canvasFormControls.details[index].required">
    <mat-error>
      {{designService.canvasFormControls.details[index].error}}
    </mat-error>
  </mat-form-field>
  <div class="hand">
    <mat-icon (click)="openDetails()">settings</mat-icon>
  </div>
  <div class="grab">
    <mat-icon>drag_indicator</mat-icon>
  </div>
</div>