.custom.mat-card {
  height: 90px;
  width: 90px;
  padding: 3px;
  margin: 13px;
  background-color: rgb(71,120,141);
}

.mat-button {
  padding: 0 !important;
}

 .row-margin {
  margin: 12px 12px 12px 12px;
}

.container-margin {
  padding: 12px;
}

.card-icon {
  color: white;
  font-size: 45px;
  margin-left: 25px;
}

.card-icon-add {
  margin-left: 15px;
  color: white;
  font-size: 60px;
}

.form-title {
  padding-left: 6px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: white;
}

.form-title-bg {
  padding-left: 7px;
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-weight: 400;
  font-stretch: normal;
  font-size: 14px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: white;
}
Design
.spacer {
  flex: 1 1 auto;
}
.green {
  color: #90ee90;
}

.orange {
  color: #ffb74d;
}
