<div class="header">
  <form [formGroup]="canvasForm">
    <div class="form-header" fxLayout="row" fxLayoutAlign="space-between center">
      <mat-form-field class="text-color" fxFlex="50">
        <mat-label>Form Name</mat-label>
        <input matInput placeholder="Form Name" formControlName="name" type="text">
        <mat-error>
          Form name is required.
        </mat-error>
      </mat-form-field>
      <div fxLayoutGap="30px">
        <button *ngIf="(isSave$ | async)" mat-stroked-button color="primary" (click)="save()"
          [disabled]="!canvasForm.valid">
          Save
        </button>
        <div class="text-color hand" fxLayoutAlign="end center" fxFlex>
          <mat-icon (click)="close()">close</mat-icon>
        </div>
      </div>
    </div>
  </form>
</div>
<mat-divider></mat-divider>
<div class="content">
  <div fxLayout="column" [ngClass]="(isMenu ? 'menu-open':'menu-icons')" mode="side">
    <div *ngIf="isMenu" fxLayout="row" class="bottom10 hand text-color" (click)="isMenu = !isMenu" fxLayoutAlign="end">
      <mat-icon>chevron_left</mat-icon>
      <mat-icon *ngIf="!isMenu">menu</mat-icon>
    </div>
    <div *ngIf="!isMenu" fxLayout="row" class="bottomtop10 hand text-color" (click)="isMenu = !isMenu"
      fxLayoutAlign="center">
      <mat-icon>menu</mat-icon>
    </div>
    <div *ngIf="isMenu" class="menu" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center start">
      <div cdkDropList class="form-list" id="formList" #formList="cdkDropList" [cdkDropListData]="controlLabels"
        [cdkDropListConnectedTo]="['canvas']" class="form-list">
        <div class="text-color control-box grab" *ngFor="let control of controlLabels" cdkDrag>{{control}}</div>
      </div>
    </div>
    <div *ngIf="!isMenu" class="menu" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center start">
      <div cdkDropList id="formList" #formList="cdkDropList" [cdkDropListData]="controlLabels"
        [cdkDropListConnectedTo]="['canvas']">
        <div (click)=clearIndex() class="text-color control-box-icon grab" *ngFor="let control of controlIcons" cdkDrag>
          <mat-icon>{{control}}</mat-icon>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="column" fxFlex>
    <app-canvas [connectedTo]="['formList']"></app-canvas>
  </div>
</div>
<div class="footer">
  <mat-toolbar *ngIf="(isSave$ | async)" fxLayoutGap="10px">
    <button mat-stroked-button color="primary" (click)="saveAs()">
      Save As
    </button>
    <span class="toolbar-spacer"></span>
    <button mat-stroked-button color="warn" (click)="delete()">
      Delete
    </button>
  </mat-toolbar>
</div>