<div class="header">
  <div class="text-color mat-h1 padding" fxLayout="row" fxLayoutAlign="space-between center">
    <div>Sign Up</div>
    <div fxLayoutGap="20px">
      <button mat-icon-button (click)="close()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
</div>
<div class="content">
  <div fxLayout="column" class="container-padding">
    <form [formGroup]="emailSignupForm">
      <div class="text-color mat-h2" fxLayoutAlign="center center">Please complete this form and accepting our terms and conditions to enable your free subscription.</div>
      <!-- <h3 class="text-color">Monthly Subscription&nbsp;&nbsp;<mat-radio-button value="free" checked>Free</mat-radio-button></h3> -->
      <div fxLayout="column" class="form-padding text-color" fxLayoutGap="10px">
        <mat-form-field appearance="outline" fxFlex>
          <mat-label>Email Address</mat-label>
          <input matInput placeholder="Email" formControlName="email" type="text" required>
          <mat-error>
            Email address is required!
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex>
          <mat-label>Password</mat-label>
          <input matInput placeholder="Password" formControlName="password" type="password" required>
          <mat-error>
            Password is required!
          </mat-error>
        </mat-form-field>
        <div class="text-color" fxLayoutAlign="center center">
          <mat-checkbox (change)="checkTerms($event.checked)" color="primary" [checked]="terms">Accept Terms & Conditions</mat-checkbox>
        </div>
        <button (click)="signupEmail()" mat-stroked-button color="primary" [disabled]="notContinue">
          Sign Up
        </button>
      </div>
    </form>
    <app-terms class="text-color"></app-terms>
  </div>
</div>
